# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#dev
# index.js
node_modules


# // "server": "nodemon server.js",
# // "client": "npm start --prefix client",
# // "dev": "concurrently \"npm run start\" \"npm run client\"",
# // "heroku-postbuild": "NPM_CONFIG_PRODUCTION=false npm install --prefix client && npm run build --prefix client"
# // "client-install": "npm install --prefix client",